body {
  font-family: "DM Sans", "Arial", sans-serif;
  margin: max(10vw, 20px);
}

.content_image{
  width: 50%;
}

@media(max-width: 1100px){ 
  .container{ 
    padding-top: 1em;
  } 

  .content_image{
    width: 70%;
  }
} 

@media(max-width: 515px){ 
  .container{ 
    padding-top: 6em;
  } 
  .content_image{
    width: 70%;
  }
}

html {
  scroll-behavior: smooth;
}

header {
  width: calc(min(80vw, calc(100% - 40px)) + 8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 20px 4px;
  position: fixed;
  top: 0;
  left: calc(max(10vw, 20px) - 4px);
  background: #ffffffff;
  box-sizing: border-box;
}

#separator {
  width: 100%;
  margin-bottom: 10rem;
}

@media (max-width: 400px) {
  #separator {
    margin-bottom: 15rem;
  }
}

@media (max-width: 270px) {
  #separator {
    margin-bottom: 17rem;
  }
}

header div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header img {
  height: 40px;
}

header span {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "DM Mono", monospace;
}

header a {
  color: #000000;
  margin: 10px;
}

p {
  line-height: 1.5;
}

a {
  color: #0d78d0;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: "— ";
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: "";
}

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: " —";
}

.highlight-red {
  color: #ee0000;
}

#footer {
  width: 100%;
  background: #fff;
  padding: 1.25em 0.7em 3em;
  overflow: hidden;
}

#footer-info .logo {
  float: left;
}
#footer-info .logo img {
  width: 80px;
}
#footer-info #status {
  clear: left;
  margin: 1em 0;
  line-height: 1.2em;
}
#footer-info #status > span {
  display: block;
  color: black;
  font-weight: 300;
  margin: 0;
  font-size: 0.95em;
  /* font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; */
}

#footer-links {
  margin: 20px 0;
  padding-left: 0;
}
#footer-links li {
  display: inline-block;
  width: 100%;
}
#footer-links li a {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #5776ad;
  font-weight: bold;
  font-size: 0.9em;
}

@media (min-width: 1101px) {
  #footer #footer-info #status {
    clear: none;
  }
  #footer #footer-links {
    float: right;
  }
  #footer #footer-links li {
    padding-left: 30px;
    display: inline-block;
    width: auto;
  }
}
